# Mengabaikan file video testing dan audio output agar tidak membebani repository
*.mp4
*.mp3

# Mengabaikan folder virtual environment Python jika ada
venv/
__pycache__/

# SaaS Backend
.env
*.db
alembic/versions/
